.form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.form label {
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.form input[type='number'],
.form input[type='radio'] {
  margin-top: 5px;
}

.form input[type='number'] {
  width: 100%;
}

.form fieldset {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.form legend {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.form button {
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  cursor: pointer;
}
